* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #92612f, #332418);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.container {
  width: 80%;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 32px;
}

.top-section {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.search-box {
  display: flex;
  margin: 15px 0;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.search-box button {
  background: #f65c24;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info {
  margin-top: 10px;
}

.weather-row {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-left: 4px solid orange;
  background: #f1f1f1;
  box-shadow: 0 4px 15px rgba(12, 12, 12, 0.2);
  margin-bottom: 8px;
  border-radius: 4px;
}

.weather-row span:first-child {
  font-weight: bold;
}

#history button {
  background: #f65c24;
  box-shadow: 0 4px 15px rgba(11, 10, 10, 0.2);
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  margin-right: 6px;
  margin-top: 6px;
  cursor: pointer;
}